version: "3.9"

services:
  backend:
    build: .
    container_name: sql-runner-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./client
    container_name: sql-runner-frontend
    ports:
      - "3003:80"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_BASE=http://localhost:5000
    restart: always
